@{
    ViewBag.Title = "New employee form";
}

<h2>Order form:</h2>
<form asp-controller="Staff" asp-action="HandleOrder" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
    </div>
    
    <div>
        <label for="position">Position:</label>
        <input type="text" id="position" name="position">
    </div>
    
    <div>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" min="18" max="99">
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email">
    </div>

    <!-- Кнопка заказа -->
    <div>
        <button type="submit">Add</button>
    </div>
    
    <!-- Отрендерить текст с ошибкой если она есть -->
    @if (ViewBag.ErrorMessage is not null)
    {
        <h3 style="color: red;">@ViewBag.ErrorMessage</h3>
    }
</form>